<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>


<body>
    <nav class=" navbar-btn"  style="background-color:#8d1212 ;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Logout", "login", "users")</li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Register", "Register", "users")</li>

                </ul>

                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Profile", "profile_E", "users")</li>

                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("Create New Post", "Create", "posts")</li>

                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>@Html.ActionLink("My Posts", "My_posts", "posts")</li>

                </ul>



                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="">Request Questions</a></li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer class="bg-light text-center text-lg-start">
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                &copy;@DateTime.Now.Year Copyright:
                <a class="text-dark" href=""> - جميع الحقوق محفوظة لموقع اخبارنا كل يوم</a>
            </div>
            <!-- Copyright -->
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>