@model IEnumerable<press_Agency.Models.post>
@using press_Agency.Models

@{
    ViewBag.Title = "Wall";
    Layout = "~/Views/Shared/_viewer.cshtml";

}

<h2>Wall</h2>




<hr />
<hr />

<hr />

@foreach (var item in Model)
{

    <h3 style="color:cornflowerblue"> @Html.DisplayFor(modelItem => item.editor_username) </h3>
    <p style="display:inline; font-size:17px; margin-left:5px;">@Html.DisplayFor(modelItem => item.postCreationDate)</p>
    <p style="display: inline;margin-left: 12px; font-size: 17px;">@Html.DisplayFor(modelItem => item.artical_Type)</p>
    <span class="label label-success" style="margin-left:12px;">@Html.DisplayFor(modelItem => item.NumberOfViewers)</span>
    <div class="nav" style="color:#000000;background-color:#c3e4ed ; font-size:25px ;text-align:center;">
        @Html.DisplayFor(modelItem => item.artical_Title)
    </div>
    <div style="; text-align: center;">

        @{
            if (item.artical_image != null)
            {
                string ph = Url.Content(item.artical_image);
                <img src="@ph" , width="650px" height="400px" />
            }


        }
    </div>



    <div class="btn btn-primary" style="margin :12px">
        @Html.DisplayFor(modelItem => item.num_of_likes)<div style="margin-left:5px;">@Html.ActionLink("Likes", "wall", new { id = item.id }) </div>
    </div>
    <div class="btn btn-primary" style="margin :12px">
        @Html.DisplayFor(modelItem => item.num_of_dislikes)<div style="margin-left:5px;">@Html.ActionLink("DisLikes", "wall", new { id = -(item.id) }) </div>
    </div>


    <div class="btn btn-primary" style="margin-left:550px"><a href="">Save post</a></div>


    <div class="btn btn-danger" style="margin-left:5px;">@Html.ActionLink("See Article body", "artical_body", new { id = item.id }) </div>

    <tr><td><br /><br /><br /><hr /><hr /><hr /><br /><br /><br /><td></tr>


    @*<spanclass ="navbar-form" style=" align-items:center; padding-block-end:100px; ;text-align:right;">


            <table>
                <tr>
                    <td class="navbar" style="color:#6d231d;background-color:#d1ea96 ; font-size:x-large ;text-align:right;">
                        @Html.DisplayFor(modelItem => item.artical_Title)
                    </td>
                </tr>
                <tr>
                    <td class="navbar" style="color:#6d231d;background-color:#c3e4ed ; font-size:20px ;text-align:right;">
                        @Html.DisplayFor(modelItem => item.artical_Body)
                    </td>
                </tr>
                <tr>
                    <td class="navbar" style="color:#fce856;background-color:#7f8384 ; font-size:15px">
                        @Html.DisplayFor(modelItem => item.postCreationDate)
                    </td>
                </tr>
                <tr><td><br /><td></tr>

                <tr>
                    <td>
                        <div style="; text-align: center;">

                            @{
                                if (item.artical_image != null)
                                {
                                    string ph = Url.Content(item.artical_image);
                                    <img src="@ph" , width="650px" height="400px" />
                                }


                            }
                        </div>
                    </td>
                </tr>



                <tr><td><br /><br /><br /><hr /><hr /><hr /><br /><br /><br /><td></tr>
            </table>

        </spanclass>*@
}

